.left{
    position: absolute;
    display: flex;
    height: 100px;
    width: 250px;
    margin-top:520px ;
    margin-left: 10px;
    display: inline-block;
    background-color: transparent;
}

.flex-content{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
}

.master{
    background-color: transparent;
    display: block;
    order: 2;
    font-size: large;
    font-weight: bold;
    color: white;
}

.text{
    background-color:transparent;
    display: block;
    order: 1;
    margin: 0;
    color: white;
}

